.cuadro1{
	text-align:center;
	margin-top:30px;
	animation-name:cuadroTexto;
	animation-duration:3s;
	animation-iteration-count:10;	
}

@keyframes cuadroTexto{
		0%{opacity:.2;}
		50%{opacity:.5;}
		100%{opacity:.1;}
}

/*Reglas formulario*/
form{
	margin:0 auto;
		width:300px;
}
form fieldset.rayado{
	border:1px solid  blue;
	padding:5px;
}
form legend{
	color:blue;
	letter-spacing:2px;
}

/*Imagen tabla responsiva*/
img{
	/*max-width:100%;
	height:auto;*/
	width:25px;
	height:25px;
}
table{
	margin:0 auto;
	border-collapse:collapse;
	border-spacing:0;
	width:90%;
	border:1px solid #ddd;
}
td{
	border:none;
	text-align:left;
	padding:8px;
}
